.header {
  height: 80px;
  background-color: #fff;
}
.header .header_top {
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding-right: 30px;
  border-bottom: 1px solid #1DA57A;
}
.header .header_top span {
  margin-right: 15px;
}
.header .header_bottom {
  height: 40px;
  display: flex;
  align-items: center;
}
.header .header_bottom .header_bottom_left {
  width: 25%;
  position: relative;
  text-align: center;
  font-size: 20px;
}
.header .header_bottom .header_bottom_left::before {
  content: '';
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 100%;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
}
.header .header_bottom .header_bottom_right {
  width: 75%;
  text-align: right;
  margin-right: 30px;
}
.header .header_bottom .header_bottom_right img {
  width: 30px;
  height: 20px;
  margin: 0 15px;
  vertical-align: text-bottom;
}
